@CHARSET "UTF-8";

#member #member_main dl{
	width: 500px;
margin: 15px auto;
	font-size: 14px;

}
#member #member_main dd{
padding: 10px 0;
	border-bottom: 1px dashed #999;
}
#member #member_main dd input.text{
	width:180px ;
	height: 19px;
	border-bottom: 1px dashed #333;
	background: #fff;
}