@CHARSET "UTF-8";
body{
	width:auto;
}
#q h3{
	width: 80%;
	margin:10% auto;
	height:30px;
	line-height: 30px;
	text-align: center;
	border:1px dashed #333;
}
#q dl{
	width: 80%;
	margin: 0 auto;
}
#q dl dd{
	width:200px;
	float: left;
	text-align: center;

}
#q dl dd img{
	cursor: pointer;
}
#q dl dd img:hover{
	border: 1px solid #333;
}